.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.app-nav {
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    background-color: #f1f1f1!important;
}

header {
    border-bottom: 10px solid #E9C35E;
    box-shadow: 0px 2px 2px #888888;
    height: 322px;
    background-color: #968F7D;
}

header .news {
    height: auto;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    top: -48px;
    padding: 0px;
    margin: 0px;
}

header .news > ul {
    padding: 0px;
    width: 100%;
    list-style-type: none;
    overflow: hidden;
    height: 48px;
}

header .news > ul > li {
    width: 25%;
    list-style-type: none;
    font-size: 1.2em;
    float: left;
    text-align: center;
}

header .banner {
    background-image: url('../images/fgn_cover.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    background-position-y: center;
}

header .banner > a:first-child {
    border-radius: 0px;
    -moz-border-radius: 0px;
}

header .banner .titre {
    font-size: 4.5em;
    text-align: center;
    width: inherit;
    color: #E9C35E;
    padding-top: 50px;
    padding-left: 0px;
    margin: 0;
    font-weight: bold;
}

header .banner .sous-titre {
    font-size: 4em;
    padding-left: 250px;
    color: #E9C35E;
}

header img {
    position: absolute;
    top: 0px;
}

.navbar-brand {
    background-color: #95907A;
}

#bs-navbar > ul > li > a {
    color: #fff;
    font-size: 1.3em;
}

#bs-navbar > ul > li > .dropdown-menu {
    position: relative;
}

#bs-navbar > ul > li > a:hover {
    background-color: #d59e2d;
    color: #fff;
}

#bs-navbar > ul > li > a:active {
    background-color: #d59e2d;
}

#bs-navbar > ul > li > a:only-child {
    border-top: solid 1px #d59e2d;
    border-right: solid 1px #d59e2d;
}

#bs-navbar {
    background-color: #ECC25E;
    padding-left: 0px;
    position: relative;
}

/**
    div item shown on navbar-list anchor hovered
**/
.drop-content {
    position: absolute;
    z-index: 1;
    padding-left: 50px;
    padding-right: 50px;
}

.drop-content > .row {
    background-color: #d59e2d;
    margin-left: 0px;
    margin-right: 0px;
    border-left-color: #fff;
    border-right-color: #fff;
}

.drop-content > .title {
    font-weight: bold;
    font-family: Oswald, Arial, sans-serif;
}

.drop-content > .row > div {
    padding-bottom: 20px;
    min-height: 175px;
}

.drop-content > .row > div > .title {
    color: #4b4b4b;
}

.drop-content > .row > div > .content {
    padding-top: 10px;
}

.drop-content > .row > div > .content > ul {
    padding-left: 15px;
}

.drop-content > .row > div > .content > ul > li {
    list-style-type: none;
}

.drop-content > .row > div > .content > ul > li > a {
    color: #f4f8fa;
}

/**
   end div item shown on navbar-list anchor hovered
**/
footer {
    background-color: #616161!important;
    padding-top: 20px;
    width: auto;
}

.app-body {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 10px solid #EDC357;
    background-color: #f1f1f1!important;
    color: #5e5d5d;
    box-shadow: 0 30px 10px -2px gray;
}

.edito {
    border-left: 2px solid #C7C2BC;
    padding-right: 0px;
}

.t-box {
    border-radius: 0px;
    -moz-border-radius: 0px;
    background-color: #fff!important;
}

.t-box .t-box-header {
    background-color: #968F7C;
    padding-left: 4px;
    font-weight: bold;
    list-style-type: circle;
}

.t-box .t-box-body {
    padding-top: 10px;
}

.footer-box {
    background-color: #616161!important;
    box-shadow: none;
}

.footer-box .footer-box-header {
    font-weight: bold;
    color: white;
    display: flex;
    height: 60px;
}

.footer-box .footer-box-body {
    height: 154.5px;

}

.footer-box .footer-box-body .btn-yellow {
    background-color: #E9C456;
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.footer-box .footer-box-body .btn-yellow:hover {
    color: #fff;
    background-color: #d59e2d;
}

.footer-box-line {
    flex: 1;
    border: solid 1px white;
    width: 100%;
    height: 0px;
    margin: auto;
    margin-left: 10px;
}

.light {
    color: white;
}

.text-yellow {
    color: #EBC35A;
}

.btn-yellow {
    background-color: #E9C35E;
}

.glyphicon.glyphicon-one-fine-dot:before {
    content: "\25cf";
    font-size: 1.2em;
}

.nav > li > a:hover {
    background-color: #ef7f0b00;
}

.active > span {
    color: white !important;
    background-color: #ffd54f !important;
    border-color: #ffd54f !important;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 0px;
}

.pagination > li > span,
.pagination > li > a {
    color: #968F7C !important;
    font-weight: bold;
}

.accordion {
    background-color: #E9C35E;
    color: white !important;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.accordion.active, .accordion:hover {
    background-color: #c5940f;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.accordion.active:after {
    content: "\2212";
}

.panel-about {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-bottom: 0px;
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.15);
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}